<div id="text">
    Adicione o Financeiro ao Netvibes
</div>
<%= image_tag 'netvibes.jpg'%><br/>
<a href="http://www.netvibes.com/subscribe.php?url=http%3A%2F%2Ffinanceiro.neutrine.com%2Fnet_vibes_extension"><img src="http://www.netvibes.com/img/add2netvibes.gif" width="91" height="17" border="0" alt="Adicionar ao Netvibes"/></a>