<fieldset>
	<div class="row">
		<!--[form:type]-->
<div class="form-element">
  <label for="type_name">Name</label>
  <%= text_field 'type', 'name' , {:class=>"text-input"} %>
</div>

<!--[eoform:type]-->

	</div>
</fieldset>