body {
	font-family: Arial, Helvetica, sans-serif;;
	margin: 0px;
	padding: 0px;
    color: #d10000;
    background-color: #FFFFFF;
}

#top {
    background-color: #003163;
	height: 1em;
    padding-top: 0.5em;
    padding-left: 10px;	
    color: #FCD406;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;	
	font-size: 20pt;   
}

#top, #top_menu {
    width: auto;
}

#top_menu {
    color: white;
    font-size: small;
    font-weight: bold;
    padding-right: 1em;
    text-align: right;
       
    position: absolute;
    right: 1em;
    top: 0.2em;    
}

#separator {
    color: #4E6C8D;
}

form th {
    text-align: right;
}

#text {
    font: normal 10px verdana, sans-serif;
    color: #003163;
}
#menu_content {
	padding:2px;
    font: normal 10px verdana, sans-serif;
    color: #003163;
}

#saldo_pos {
    color: #009100;
}

#saldo_neg {
    color: #CD0000;
}

#menu #title {
    padding: 2px;
    margin: 0px;
    text-align: center;
	height: 1em;	
}

#tag_cloud #title, #menu #title {
    background-color: #003163;    
    font-weight: bolder;
    color: white;    
}

#tag_cloud {
    margin-top: 2em;
    color: #005CB8;
}

#tag_cloud a, #tag_cloud a:link, #tag_cloud a:visited {
    color: #005CB8;
    text-decoration: none;
}

#tag_cloud a:hover  {
    text-decoration: underline;
}


#top_menu a, #top_menu a:link, #top_menu a:visited {
    color: white;
    text-decoration: none;
}

#menu a, #menu a:link, #menu a:visited {
    font-size: small;
    color: #003163;
    text-decoration: none;
}

#top_menu a:hover, #menu a:hover {
    font-size: 110%;
}

#busy_indicator {
    position: absolute;
    right: 1em;
    top: 40px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.nube1 {font-size: 1.0em;}
.nube2 {font-size: 1.2em;}
.nube3 {font-size: 1.4em;}
.nube4 {font-size: 1.6em;}
.nube5 {font-size: 1.8em;}
.nube6 {font-size: 2.0em;}

#filter {    
    padding: 1px 5px 1px 5px;
    background-color: #D7EBCB;
    margin-bottom: 10px;
    font: normal 10px verdana, sans-serif;
    color: #009100;
}

#filter input, #filter select {
    color: #009100;
    font: normal 10px verdana, sans-serif;
}

#filter button {
    color: black;
}

#Content {
	margin: 10px 0px 0px 10px;
	padding: 10px 10px 50px 10px;
	width: 75%;
}

#resume {
	position:absolute;
	top:90px;
	right:0px;
}

#menu {
	width:200px;
	line-height:17px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;	
	font-size: small;
	margin-bottom: 20px;
	border: solid 1px #003163;
	margin-right: 1em;
}