<div class="user_edit">
  <table>
    <%= form_input changeable(user, "firstname"), "Nome", "firstname" %>
    <%= form_input changeable(user, "lastname"), "Sobrenome","lastname" %>
    <%= form_input changeable(user, "login"), "Login", "login", :size => 30 %><br/>
    <%= form_input changeable(user, "email"), "Email", "email" %>
    <% if submit %>
      <%= form_input :submit_button, (user.new_record? ? 'Registrar' : 'Alterar'), :class => 'two_columns' %>
    <% end %>
  </table>
</div>
